<section class="login container-fluid">
    <div class="row min-vh-100 justify-content-center align-items-center no-gutters">
        <div class="col-12 col-sm-12 col-lg-5 col-xl-5 login-text d-none d-lg-block">
            <div class="row">
                <h1 class="login-title col-12 text-center text-primary">ChefStudio</h1>
                <picture class="col-12 d-none d-lg-block">
                    <img src="../../../../assets/login.svg" alt="" class="img-fluid">
                </picture>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-7 col-xl-7 login-message">
            <div class="row">
                <h1 class="login-title col-12 text-center text-primary d-lg-none d-block mb-2">ChefStudio</h1>
                <h2 class="col-12 text-center text-primary login-subtitle">Welcome Back</h2>
                <p class="col-12 text-center login-para">Welcome back! Please enter your details</p>
                <div class="form-container col-12 col-sm-12 col-md-8 col-lg-12 col-xl-8 mx-auto">
                    <form 
                        novalidate
                        class="col-10 mx-auto"
                        (ngSubmit)="onSubmit()"
                        [formGroup]="loginForm">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input 
                                type="email" 
                                id="email" 
                                class="form-control form-control-lg" 
                                aria-describedby="emailHelp" 
                                placeholder="johndoe@example.com"
                                formControlName="email">
                            <span
                                *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched"
                                class="text-danger">
                                Please provide a valid email
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input 
                                type="password" 
                                id="password" 
                                class="form-control form-control-lg" 
                                aria-describedby="emailHelp" 
                                placeholder="********"
                                formControlName="password">
                                <span        
                                *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched"
                                class="text-danger">                  
                                Please provide a valid password
                            </span>
                        </div>
                        <!-- <div class="form-group">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="rememberMe">
                              <label class="form-check-label" for="rememberMe">
                                Remember Me
                              </label>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="col-12">
                                <button 
                                    type="submit"
                                    [disabled]="!this.loginForm.valid"
                                    class="btn btn-primary col-12 mb-2 form-primaryaction">Sign In</button>
                            </div>
                            <!-- <div class="col-12">
                                <button 
                                    routerLink="/user-details"
                                    class="btn btn-outline-primary col-12 form-secondaryaction">Sign In with Google</button>
                            </div> -->
                        </div>
                    </form>
                    <p class="text-center">Don't have an account? <a routerLink="/register">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
