<div class="recipe" (click)="onSelected()">
    <div class="recipe-image">
        <div *ngFor="let image of recipe.images | slice:0:1">
            <img [src]="image || '../../../assets/no-preview-available.png'" alt="{{recipe.name}}" class="img-fluid w-100">
        </div>
    </div>
    <div class="recipe-body">
        <div class="row px-2">
            <div class="col-10">
                <p *ngIf="recipe.rating">Average Ratings <span>{{recipe.rating}}</span></p>
            </div>
            <div class="col-2">
                <div class="row d-flex justify-content-end align-items-center">
                    <div class="col-4" *ngIf="showOptions">
                        <a href="#"><fa-icon [icon]="faDelete"></fa-icon></a>
                    </div>
                    <div class="col-4" *ngIf="showOptions">
                        <a href="#"><fa-icon [icon]="faPencil"></fa-icon></a>
                    </div>
                    <div class="col-4">
                        <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <h4 class="recipe-title px-2">{{recipe.name}}</h4>    
        <p class="recipe-description px-2">{{recipe.description}}</p>
        <p class="recipe-similarity px-2" *ngIf="recipe.similarity">Similarity: {{recipe.similarity | number : '1.0-0'}}%</p>
    </div>
</div>
