<div class="container recipe">
    <div class="row">
        <h2 class="mb-5">
            <a (click)="backToFeed()" class="text-center back-icon">
                <fa-icon [icon]="faBack1"></fa-icon>
            </a>
        </h2>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-lg-5 col-xl-5 ">
                    <div class="recipe-image">
                        <div *ngIf="selectedRecipe?.images?.length == 0">
                            <img [src]="'../../../assets/no-preview-available.png'" alt="{{selectedRecipe?.name}}" class="img-fluid w-100">
                        </div>
                        <div *ngIf="selectedRecipe?.images?.length != 0">
                            <div *ngFor="let image of selectedRecipe?.images | slice:0:1">
                                <img [src]="image || '../../../assets/no-preview-available.png'" alt="{{selectedRecipe?.name}}" class="img-fluid w-100">
                            </div>
                        </div>
                    </div>
                    <div class="row px-2">
                        <div class="col-10">
                            <p class="recipe-ratings">Average Ratings: <span>{{this.averageRating || '0'}}</span></p>
                        </div>
                        <div class="col-2 d-flex flex-column align-items-end">
                            <a (click)="toggleSave()">
                                <img 
                                    *ngIf="this.isSaved" 
                                    width="24" height="24" 
                                    src="https://img.icons8.com/material-rounded/24/1D634B/bookmark-ribbon--v1.png" 
                                    alt="bookmark-ribbon--v1"/>
                                <img 
                                    *ngIf="!this.isSaved" 
                                    width="24" height="24" 
                                    src="https://img.icons8.com/material-outlined/24/1D634B/bookmark-ribbon--v1.png" alt="bookmark-ribbon--v1"/>
                            </a>
                        </div>
                        <!-- <div class="col-12" *ngIf="selectedRecipe?.keywords">
                            Keywords: {{selectedRecipe?.keywords}}
                        </div> -->
                    </div>
                    <div class="row d-none d-lg-block d-xl-block">
                        <form 
                            novalidate 
                            class="mb-3"
                            (ngSubmit)="onSubmit()"
                            [formGroup]="reviewForm">
                            <div class="form-group mb-3">
                                <label for="rating" class="mb-3">Rate the recipe</label>
                                <input type="number" id="rating" class="form-control form-control-lg" placeholder="Rate the recipe between 1 to 5" min="1" max="5" formControlName="Rating">
                            </div>
                            <div class="form-group mb-3">
                                <label for="review" class="mb-3">Write your review</label>
                                <input type="text" id="review" class="form-control form-control-lg" placeholder="(optional)" formControlName="Review">
                            </div>
                            <button type="submit" class="btn btn-primary py-3" [disabled]="!this.reviewForm.valid">Submit</button>
                        </form>
                        <h3 class="mb-4 recipe-subtitle">Reviews ({{this.reviewsLength || 0}})</h3>
                        <ul class="list-group list-group-flush">
                            <app-view-review 
                            *ngFor="let reviewEl of allReviews"
                            [review]="reviewEl"></app-view-review>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-7 col-xl-7 px-3 px-md-5 px-lg-5 px-xl-5">
                    <h1 class="mb-2 recipe-title ">{{selectedRecipe?.name}}</h1>
                    <h4 class="mb-4"
                    (click)="onCategorySelected(selectedRecipe?.category)">{{selectedRecipe?.category}}</h4>
                    <p class="recipe-text mb-3">{{selectedRecipe?.description}}</p>
                    <div class="row d-flex flex-column">
                        <p class="mb-2 recipe-text"><fa-icon [icon]="faClock"></fa-icon>&nbsp;Cook Time: {{selectedRecipe?.cookTime || '00:00:00'}}</p>
                        <p class="mb-2 recipe-text"><fa-icon [icon]="faClock"></fa-icon>&nbsp;Prep Time: {{selectedRecipe?.prepTime || '00:00:00'}}</p>
                        <p class="mb-5 recipe-text"><fa-icon [icon]="faClock"></fa-icon>&nbsp;Total Time: {{selectedRecipe?.totalTime || '00:00:00'}}</p>
                    </div>
                    <h3 class="mb-4 recipe-subtitle">Instructions</h3>
                    <ul class="list-group list-group-flush mb-5">
                        <li *ngFor="let instruction of selectedRecipe?.recipeInstructions" class="list-group-item">{{instruction}}</li>
                    </ul>
                    <!-- <p class="mb-5 recipe-text">{{selectedRecipe?.recipeInstructions}}</p> -->
                    <h3 class="mb-4 recipe-subtitle" *ngIf="selectedRecipe?.recipeIngredient">Ingredients</h3>
                    <ul class="list-group list-group-flush mb-5 col-12 col-lg-3 col-xl-3">
                        <li *ngFor="let ingredient of selectedRecipe?.recipeIngredient" class="list-group-item">{{ingredient}}</li>
                    </ul>
                    <!-- <h3 class="mb-4 recipe-subtitle">Category</h3> -->
                    <div class="col-12 mb-3" *ngIf="selectedRecipe?.keywords">
                        <a 
                            routerLink="/recipe/keyword/{{keyword}}"
                            class="mx-2 recipe-keywords"
                            *ngFor="let keyword of selectedRecipe?.keywords"
                            >{{keyword}}
                        </a>
                    </div>
                    <h4 class="recipe-author mb-3">Recipe By: {{selectedRecipe?.authorName}}</h4>
                    <div class="row d-block d-sm-block d-md-block d-lg-none d-xl-none">
                        <form 
                            novalidate 
                            class="mb-3"
                            (ngSubmit)="onSubmit()"
                            [formGroup]="reviewForm">
                            <div class="form-group mb-3">
                                <label for="rating" class="mb-3">Rate the recipe</label>
                                <input type="number" id="rating" class="form-control form-control-lg" placeholder="Rate the recipe between 1 to 5" min="1" max="5" formControlName="Rating">
                            </div>
                            <div class="form-group mb-3">
                                <label for="review" class="mb-3">Write your review</label>
                                <input type="text" id="review" class="form-control form-control-lg" placeholder="(optional)" formControlName="Review">
                            </div>
                            <button type="submit" class="btn btn-primary py-3" [disabled]="!this.reviewForm.valid">Submit</button>
                        </form>
                        <h3 class="mb-4 recipe-subtitle">Reviews ({{this.reviewsLength || 0}})</h3>
                        <!-- <ul class="list-group list-group-flush">
                            <li 
                                class="list-group-item"
                                *ngFor="let review of allReviews">
                            <p>{{review?.AuthorName}}</p>
                            <p>{{review?.Review}}</p>
                            </li>
                        </ul> -->
                        <ul class="list-group list-group-flush">
                            <app-view-review 
                            *ngFor="let reviewEl of allReviews"
                            [review]="reviewEl"></app-view-review>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <h1>{{selectedRecipe?.authorId}}</h1> -->
        </div>
    </div>
</div>
<h1 *ngIf="!recipeId">No such recipe found</h1>