.recipe{
    padding: 6rem;

    &-image{
        border-radius: 1rem;
    }
    &-text{
        font-size: 1.4rem;
    }

    &-subtitle{
        border-left: .5rem solid hsl(159, 55%, 25%);
        padding-left: .5rem;
    }

    & ul li{
        font-size: 1.3rem;
    }

    &-keywords{
        color: hsl(159, 55%, 25%);
        font-size: 1.4rem;
        // border-bottom: .1rem solid hsl(159, 55%, 25%);
    }

    &-ratings{
        font-size: 1.4rem;
    }

    &-save{
        font-size: 1.4rem;
    }
}