.feed{
    // max-height: 100vh;
    // padding: 6rem 2rem 2rem 2rem;
    overflow-x: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none;

    &-navigate{
        min-height: 100vh;
        border-right: .05rem solid #3d3d3d;
        padding-top: 3rem;
        padding-left: 2rem;
    }
}