<!-- <section class="home">
    <div class="row home-suggestions">
        <div class="col-10 mb-4">
            <h2 class="home-title col-10">Suggested for you</h2>
        </div>
        <div class="col-2 d-flex justify-content-end pr-3">
            <a href="#">View all</a>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="recipe-body">
                            <div class="row px-2">
                                <div class="col-10">
                                    <p>Ratings <span>234 ratings</span></p>
                                </div>
                                <div class="col-2 d-flex flex-column align-items-end">
                                    <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                                </div>
                            </div>
                            <h4 class="recipe-title px-2">Chicken Biryani</h4>    
                             <p class="recipe-description px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="recipe-body">
                            <div class="row px-2">
                                <div class="col-10">
                                    <p>Ratings <span>234 ratings</span></p>
                                </div>
                                <div class="col-2 d-flex flex-column align-items-end">
                                    <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                                </div>
                            </div>
                            <h4 class="recipe-title px-2">Chicken Biryani</h4>    
                             <p class="recipe-description px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="recipe-body">
                            <div class="row px-2">
                                <div class="col-10">
                                    <p>Ratings <span>234 ratings</span></p>
                                </div>
                                <div class="col-2 d-flex flex-column align-items-end">
                                    <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                                </div>
                            </div>
                            <h4 class="recipe-title px-2">Chicken Biryani</h4>    
                             <p class="recipe-description px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="recipe-body">
                            <div class="row px-2">
                                <div class="col-10">
                                    <p>Ratings <span>234 ratings</span></p>
                                </div>
                                <div class="col-2 d-flex flex-column align-items-end">
                                    <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                                </div>
                            </div>
                            <h4 class="recipe-title px-2">Chicken Biryani</h4>    
                             <p class="recipe-description px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="recipe-body">
                            <div class="row px-2">
                                <div class="col-10">
                                    <p>Ratings <span>234 ratings</span></p>
                                </div>
                                <div class="col-2 d-flex flex-column align-items-end">
                                    <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                                </div>
                            </div>
                            <h4 class="recipe-title px-2">Chicken Biryani</h4>    
                             <p class="recipe-description px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="recipe-body">
                            <div class="row px-2">
                                <div class="col-10">
                                    <p>Ratings <span>234 ratings</span></p>
                                </div>
                                <div class="col-2 d-flex flex-column align-items-end">
                                    <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                                </div>
                            </div>
                            <h4 class="recipe-title px-2">Chicken Biryani</h4>    
                             <p class="recipe-description px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row home-suggestions mt-5">
        <div class="col-10 mb-4">
            <h2 class="home-title col-10">Suggestions by diet preferences</h2>
        </div>
        <div class="col-2 d-flex justify-content-end pr-3">
            <a href="#">View all</a>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="recipe-body">
                            <div class="row px-2">
                                <div class="col-10">
                                    <p>Ratings <span>234 ratings</span></p>
                                </div>
                                <div class="col-2 d-flex flex-column align-items-end">
                                    <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                                </div>
                            </div>
                            <h4 class="recipe-title px-2">Chicken Biryani</h4>    
                             <p class="recipe-description px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="recipe-body">
                            <div class="row px-2">
                                <div class="col-10">
                                    <p>Ratings <span>234 ratings</span></p>
                                </div>
                                <div class="col-2 d-flex flex-column align-items-end">
                                    <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                                </div>
                            </div>
                            <h4 class="recipe-title px-2">Chicken Biryani</h4>    
                             <p class="recipe-description px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="recipe-body">
                            <div class="row px-2">
                                <div class="col-10">
                                    <p>Ratings <span>234 ratings</span></p>
                                </div>
                                <div class="col-2 d-flex flex-column align-items-end">
                                    <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                                </div>
                            </div>
                            <h4 class="recipe-title px-2">Chicken Biryani</h4>    
                             <p class="recipe-description px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="recipe-body">
                            <div class="row px-2">
                                <div class="col-10">
                                    <p>Ratings <span>234 ratings</span></p>
                                </div>
                                <div class="col-2 d-flex flex-column align-items-end">
                                    <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                                </div>
                            </div>
                            <h4 class="recipe-title px-2">Chicken Biryani</h4>    
                             <p class="recipe-description px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="recipe-body">
                            <div class="row px-2">
                                <div class="col-10">
                                    <p>Ratings <span>234 ratings</span></p>
                                </div>
                                <div class="col-2 d-flex flex-column align-items-end">
                                    <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                                </div>
                            </div>
                            <h4 class="recipe-title px-2">Chicken Biryani</h4>    
                             <p class="recipe-description px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="recipe-body">
                            <div class="row px-2">
                                <div class="col-10">
                                    <p>Ratings <span>234 ratings</span></p>
                                </div>
                                <div class="col-2 d-flex flex-column align-items-end">
                                    <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                                </div>
                            </div>
                            <h4 class="recipe-title px-2">Chicken Biryani</h4>    
                             <p class="recipe-description px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="home">
    <div class="row" *ngIf="!this.selectUserPreferences">
        <app-recipe-list class="col-12 col-md-4 col-lg-3 col-xl-3 mb-4 mx-auto"
            *ngFor="let recipeEl of resultArray"
            [recipe]="recipeEl"></app-recipe-list> 
    </div>
    <div class="row" *ngIf="this.selectUserPreferences">
        <a routerLink="/user-details">Select your preferences to see the recommended recipes</a>
    </div>
</section>
