<section class="home">
    <div class="row home-suggestions">
        <div class="col-10">
            <h2 class="home-title col-10 pb-3 pb-lg-5 pb-xl-5">Suggested for you</h2>
        </div>
        <div class="col-2">
            <a href="#">View all</a>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-3">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <p>Ratings <span>234 ratings</span></p>
                            </div>
                            <div class="col-2 d-flex flex-column align-items-end">
                                <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                            </div>
                        </div>
                        <h4 class="recipe-title">Chicken Biryani</h4>
                        <!-- <p class="recipe-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p> -->
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <p>Ratings <span>234 ratings</span></p>
                            </div>
                            <div class="col-2 d-flex flex-column align-items-end">
                                <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                            </div>
                        </div>
                        <h4 class="recipe-title">Chicken Biryani</h4>
                        <!-- <p class="recipe-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p> -->
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <p>Ratings <span>234 ratings</span></p>
                            </div>
                            <div class="col-2 d-flex flex-column align-items-end">
                                <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                            </div>
                        </div>
                        <h4 class="recipe-title">Chicken Biryani</h4>
                        <!-- <p class="recipe-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p> -->
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <p>Ratings <span>234 ratings</span></p>
                            </div>
                            <div class="col-2 d-flex flex-column align-items-end">
                                <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                            </div>
                        </div>
                        <h4 class="recipe-title">Chicken Biryani</h4>
                        <!-- <p class="recipe-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p> -->
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <p>Ratings <span>234 ratings</span></p>
                            </div>
                            <div class="col-2 d-flex flex-column align-items-end">
                                <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                            </div>
                        </div>
                        <h4 class="recipe-title">Chicken Biryani</h4>
                        <!-- <p class="recipe-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p> -->
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="recipe">
                        <div class="recipe-image">
                            <img src="../../../assets/biryani.jpeg" alt="Chicken Biryani" class="img-fluid">
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <p>Ratings <span>234 ratings</span></p>
                            </div>
                            <div class="col-2 d-flex flex-column align-items-end">
                                <a href="#"><fa-icon [icon]="faBookmark"></fa-icon></a>
                            </div>
                        </div>
                        <h4 class="recipe-title">Chicken Biryani</h4>
                        <!-- <p class="recipe-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit asperiores veniam adipisci ducimus ea nesciunt voluptas ratione, distinctio officia placeat nobis incidunt culpa accusantium consequuntur impedit mollitia, doloremque numquam repellat?</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
