<section class="search">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-6 mx-auto">
            <form 
                class="search-form mb-5"
                (ngSubmit)="onSubmit(f)"
                #f="ngForm">
                <div class="input-group mb-3">
                    <input 
                        type="text" 
                        class="form-control search-input shadow-none" 
                        placeholder='Search: "i am looking for vegan dessert"' 
                        aria-label="Recipient's username" 
                        aria-describedby="basic-addon2"
                        ngModel
                        name="search"
                        required>
                    <span class="input-group-text search-icon" id="basic-addon2">
                        <button 
                            class="btn" 
                            type="submit"
                            [disabled]="!f.valid">
                            <fa-icon [icon]="faSearch"></fa-icon>
                        </button>
                    </span>
                </div>

                <!-- <div class="form-container">
                    <input type="text" class="search-input" name="search" id="search" placeholder='Search: "i am looking for vegan dessert"'>
                    <span><fa-icon [icon]="faSearch"></fa-icon></span>
                </div> -->
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="row mb-5">
                <div class="col-12">
                    <h2 class="mb-4">Search by Diet Preferences</h2>
                </div>
                <div class="col-12">
                    <div class="search-link-body">
                        <div 
                            class="search-link text-center" 
                            *ngFor="let diet of diet_preferences">
                            {{diet | titlecase}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row mb-5">
                <div class="col-12">
                    <h2 class="mb-4">Search by Cooking Time</h2>
                </div>
                <div class="col-12">
                    <div class="search-link-body">
                        <div 
                            class="search-link text-center"
                            *ngFor="let time of cooking_time">
                            {{time}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row mb-5">
                <div class="col-12">
                    <h2 class="mb-4">Search by Cooking Style</h2>
                </div>
                <div class="col-12">
                    <div class="search-link-body">
                        <div 
                            class="search-link text-center"
                            *ngFor="let style of cooking_style">
                            {{style | titlecase}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row mb-5">
                <div class="col-12">
                    <h2 class="mb-4">Search World Cuisine</h2>
                </div>
                <div class="col-12">
                    <div class="search-link-body">
                        <div 
                            class="search-link text-center"
                            *ngFor="let country of countries">
                            {{country | titlecase}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Search Result -->
<section 
    class="search-result position-absolute"
    *ngIf="displayResult">
    <div class="row">
        <h2 class="mb-5">
            <a (click)="closeSearchResult()" class="text-center back-icon">
                <fa-icon [icon]="faBack1"></fa-icon>
            </a>
        </h2>
        <h1 class="mb-3">View Results here</h1>
        <div class="row">
            <app-search-result class="col-12 col-md-4 col-lg-3 col-xl-3 mb-4 mx-auto"
            *ngFor="let recipeEl of resultArray"
            [recipe]="recipeEl"></app-search-result>  
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>