<section class="onboarding">
    <div class="onboarding-body">
        <h1 class="onboarding-title onboarding-title_primary">ChefStudio</h1>
        <picture class="onboarding-image">
            <img src="../../assets/onboarding.svg" alt="#" class="img-fluid">
        </picture>
        <div class="onboarding-text">
            <h2 class="text-center">Discover.</h2>
            <h2 class="text-center">Share. Create.</h2>
            <p class="text-center mt-3">Discover the joy of culinary creativity and inspiration at your fingertips.</p>
        </div>
        <button class="onboarding-button" routerLink="/header">
            Get Started
        </button>
    </div>
</section>