<section class="onboarding container">
    <div class="row h-100">
        <div class="onboarding-body col-12 align-self-start">
            <h1 class="onboarding-title onboarding-title_primary text-center">ChefStudio</h1>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 justify-content-center align-self-center mx-auto">
            <picture class="onboarding-image">
                <img src="../../assets/onboarding.svg" alt="#" class="img-fluid">
            </picture>
        </div>
        <div class="col-12 align-self-end onboarding-content">
            <div class="onboarding-text p-3">
                <h2 class="text-center">Discover.</h2>
                <h2 class="text-center">Share. Create.</h2>
                <p class="text-center mt-3">Discover the joy of culinary creativity and inspiration at your fingertips.</p>
            </div>
            <div class="text-center">
                <button class="onboarding-button col-8 col-sm-8 col-md-6 col-lg-4 col-xl-4 btn btn-primary" routerLink="/header">
                    GET STARTED
                </button>
            </div>
        </div>
    </div>
</section>