/* You can add global styles to this file, and also import other style files */
$primary: hsl(159, 55%, 25%);
$secondary: hsl(159, 55%, 35%);
$body-bg: hsl(159, 55%, 97%);

@import "scss/base";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";



// Used in search component and view recipe component
.back-icon{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    padding: 1rem 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}